<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="sms.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/sms.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>./logs/%d{yyyy-MM-dd}-sms.%i.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %level [%thread] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="message.log" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/message.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>./logs/%d{yyyy-MM-dd}-message.%i.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>20MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="sms.log"/>
		<appender-ref ref="CONSOLE"/>
	</root>


	<logger name="com.ikamobile.controller" level="info" additivity="false">
		<appender-ref ref="message.log"/>
	</logger>

</configuration>